// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Grid-related rules
@import 'grid';

.pagination {
    justify-content: center;
}

.company-img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
