// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Grid-related rules
@import 'grid';

.pagination {
    justify-content: center;
}

.company-img {
    width: 100px;
    height: 100px;
}

.order--1 {
    order: -1;
}
@each $breakpoint in map_keys(map_remove($grid-breakpoints, 'xs')) {
    @include media-breakpoint-up($breakpoint) {
        .order-#{$breakpoint}--1 {
            order: -1;
        }
    }
}
